body {
  background-color: #47a3da;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

/*Styling for the <section> containing all three column <div>s*/

#columnsHolder {
  width: 94%;
  margin-left: 3%;
  margin-top: 3%;
}

/*Styling for the individual columns*/

.individualColumns {
  display: inline-block;
  width: 30%;
  margin-left: 1.1em;
  margin-right: 1.1em;
  margin-bottom: 1.1em;
  vertical-align: top;
}

/*Styling for all field labels*/

label {
  display: block;
  margin-top: 2em;
  margin-bottom: .3em;
  font-size: 1.3em;
}

/*Styling for all fields*/

.field {
  outline: none; //removes the automatic 'selected' field outline styling
  color: #fff;
  background: transparent;
  font-size: 1.4em;
}

/*Styling for all text AND textarea fields*/

.textThing {
  width: 95%;
  padding: .3em;
  border-width: 3px;
  border-style: solid;
  color: #fff;
  border-color: #fff;
  margin-left: -1px;
}

/*Styling for placeholders in text fields*/

::-webkit-input-placeholder {
    color: #10689a;
    font-style: italic;
}

/*Styling for all textarea fields*/

textarea {
  min-height: 8em;
  margin-bottom: -3px;
  resize: none;
}

/*Styling for all dropdown fields*/

select {
  width: 100%;
  color: #fff;
}

/*Styling for the send your data button's containing section*/

#buttonDivContainer {
  display: block;
  margin: 1.1em;
  text-align: center;
}

/*Styling for the send your data button*/

#sydButton {
  text-align: center;
  font-size: 1.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: #fff;
  background-color: #10689a;
  border-style: none;
  border-radius: .2em;
}
